body {
    background: url("../img/onepiece-wallpaper.jpg");
}

h1 {
    text-align: center;
}
h1, label, a{
    color:#fff;
}

a:hover {
    color: #808080;
}

span {
    color: black;
}

div {
    position: relative;
}


.blabla {

}
form {
    border: 3px solid #000;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,39,43,0.742734593837535) 26%);
}

.container {
    height: 160px;
}

.container-box-username {
    position:absolute;
    top:0%;
    left:49.8%;
    transform: translate(-50%, -50%);
}

.container-box-password {
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
}

.container-box-repeat-password {
    position:absolute;
    top:60%;
    left:47.1%;
    transform: translate(-50%, -50%);
}

button {
    position: absolute;
    top:65%;
    left:60.7%;
    transform: translate(-50%, -50%);
}


button:hover {
    cursor: pointer;
    background: #808080;
}

#container-box-forgot-password {
    position: absolute;
    right: 1%;
    bottom: 10%;
}

#container-box-signup {
    position: absolute;
    right: 14.3%;
    bottom: 10%;
}

#container-box-signup:after {
    content: "  /\00a0";
}

#container-box-cancel {
    position: absolute;
    left: 1%;
    bottom: 10%;
}

.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

.img-tamago {
    width: 30%;
    border-radius: 40%;
}

